[alias]
	# View abbreviated SHA, description, and history graph of commits
	l = log --pretty=oneline --graph --abbrev-commit

	# View the current working tree status
	s = status

	# Show the diff between the latest commit and the current state.
	d = !git --no-pager diff --patch-with-stat

	wtp = worktree prune

	# Remove all local branches which are lost the upstream branch
	purge = !git branch --format '%(refname:lstrip=-1) %(upstream:track)' | grep '\\[gone\\]' | awk '{print $1}' | xargs git branch -D

	# Pull and purge
	sync = !git pull --prune && git purge

	# Used for worktree aliases, gets the GIT_DIR of the primary place also works in worktrees
	gr = !git rev-parse --absolute-git-dir | sed -e 's|/[.]git.*||' 

	# Copy current branch name
	cbn = !git branch --show-current | tr -d '\n' | pbcopy

	# Open the url of remote repo of current branch
	open = !open \"$(git remote get-url $(git branch --list --format='%(upstream:remotename)' $(git branch --show-current)) | sed -E 's|^https?://[^@]+@|https://|')\"

	be = branch --edit-description

[init]
	defaultBranch = main

[user]
	name = Jisu Sim
	email = rlj1202@gmail.com
	signingkey = rlj1202@gmail.com

[core]
	quotepath = false

[credential]
	helper = store

[include]
	path = ~/.gitconfig.local
